
body {
    background:url(../IMG/fon1.jpg); 
	background-attachment: fixed;
	background-size: 100% auto;
   }


aside, section {
	display: inline-block;
	vertical-align: top;
}

aside {
        width: 20%;
}

section {
        width: 79%;
}

.video-gallery li {
	display: inline-block;
	
	border-radius: 5px;
	padding: 5px;
	width: 45%;
}

 