body {
	background:url(../IMG/fon5.jpg); 
	background-attachment: fixed;
	background-size: 100% auto;
	margin: 0;
	padding: 0;
}

header h1{
	font-size:50px;
	text-align: center;
	color:crimson
}

aside, section {
	display: inline-block;
	vertical-align: top;
	width: 20%;
}

section {
		width: 75%;
}

section h2{
        color:deepskyblue
}

section p {
	font-size: 20px;
	color:black;
	background:transparent;
}

p{
	font-family: "Lucida Console", Monaco, monospace
}

li{
	font-size: 20px;
	color:rgb(0, 0, 0);
}


.video-gallery li {
	display: inline-block;
	border: 1px solid red;
	border-radius: 5px;
	padding: 5px;
	width: 45%;
}


 